version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8
    working_directory: ~/hello-seoul-js
    branches:
      only:
        - master
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install npm dependencies
          command: npm install
      - run:
          name: generate static site
          command: npm run docs
      - run: git config --global user.email "rhio.kim+flybook@gmail.com"
      - run: git config --global user.name "Flybook"
      - run:
          name: deploy docs
          command: npm run deploy
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
workflows:
  version: 2
  build:
    jobs:
      - build